.FormButton {
  border: none;
  outline: none;
  background-color: var(--primary);
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  font-size: $font_20;
  color: var(--white);
  cursor: pointer;
  margin-top: 1rem;
  vertical-align: middle;
}
