@import '../../../../styles/Palette/Palette.scss';
@import '../../../../styles/Fonts/FontScheme.scss';

.MemberCard {
	width: 280px;
	max-width: 280px;
	max-height: 200px;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: $lighterGray;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	justify-content: center;
	font-size: $font_18;

	& * {
		word-break: break-all;
		text-overflow: ellipsis;
	}

	&-Contents {
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		align-items: center;

		& > img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			margin-right: 1rem;
		}
	}

	&-Buttons {
		display: flex;
		display: -webkit-flex;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 10px;
		border-top: 1px solid $gray;
		padding-top: 5px;

		& > * {
			cursor: pointer;
		}
	}
}
