@import '../../../../styles/Fonts/FontScheme.scss';

.TitleInput {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--lighterGray);
  outline: none;
  padding: 5px 0;
  font-size: $font_22;
  margin-right: 1rem;
  margin-bottom: 10px;
}
