@import '../../../styles/Palette/Palette.scss';
@import '../../../styles/Fonts/FontScheme.scss';

.PostView {
	max-width: 1024px;
	margin: 1rem auto;

	&-Contents {
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		-ms-flex-direction: column;
		border-bottom: 2px solid $lighterGray;
		padding-bottom: 10px;

		& * {
			white-space: pre-wrap;
		}

		&-Info {
			display: flex;
			display: -webkit-flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 10px;

			&-Category {
				color: $primary;
			}

			&-Personal {
				display: flex;
				display: -webkit-flex;

				& > div:first-child {
					margin-right: 10px;
				}

				&-Writer {
					color: $primary;
					font-size: $font_18;
				}
			}
		}

		&-Thumbnail {
			width: 60%;
			margin: $font_2rem auto;
		}

		&-Title {
			font-size: $font_2rem;
		}
	}

	&-Comments {
		margin: 10px 0;

		&-Title {
			margin-bottom: 10px;
			font-size: $font_22;
		}
	}
}
