@import '../../../styles/Palette/Palette.scss';
@import '../../../styles/Fonts/FontScheme.scss';

.PostView {
	width: 100%;
	max-width: 1100px;
	margin: 2rem auto;
	padding: 0 2rem;

	&-Contents {
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		-ms-flex-direction: column;
		border-bottom: 2px solid $lighterGray;
		padding-bottom: 10px;

		&-Introduction {
			margin-bottom: $font_1rem;
		}

		&-Info {
			display: flex;
			display: -webkit-flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 10px;

			&-Category {
				color: $primary;
				font-size: $font_22;
			}

			&-Personal {
				display: flex;
				display: -webkit-flex;
				font-size: $font_22;

				&-Time {
					margin-right: 10px;
					color: $gray;
				}

				&-Writer {
					color: $primary;
				}
			}
		}

		&-Thumbnail {
			width: 70%;
			min-height: 200px;
			max-height: 500px;
			margin: $font_2rem auto;
		}

		&-Title {
			font-size: 2.5rem;
			font-weight: bold;
		}
	}

	&-Comments {
		margin: 10px 0;

		&-Title {
			margin-bottom: 10px;
			font-size: $font_22;
		}
	}
}
