@import '../../../../styles/Fonts/FontScheme.scss';
@import '../../../../styles/Palette/Palette.scss';

.ReplyWrite {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 5px;
	margin-left: 60px;
	padding: 0 5px;
	background-color: $lighterGray;

	&-Write {
		width: 100%;
		border: none;
		outline: none;
		background-color: $lighterGray;
		padding: 10px 5px;
	}

	&-IconWrapper {
		display: flex;
		display: -webkit-flex;
		align-items: center;

		& > * {
			cursor: pointer;
			font-size: $font_25;
			color: $gray;
		}

		&-Send {
			margin-left: 10px;
		}
	}
}
