@import '../../../styles/Fonts/FontScheme.scss';

@mixin buttonStyle($background, $color) {
  border: none;
  outline: none;
  background-color: $background;
  color: $color;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: $font_1rem;

  &:focus {
    outline: none;
    border: none;
  }
}

.Profile {
  overflow: hidden;

  &-Contents {
    display: flex;
    display: -webkit-flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    &-Top {
      width: 200px;
      max-width: 200px;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -ms-flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;

      &-Image {
        object-fit: cover;
        border-radius: 50%;
        width: 225px;
        max-width: 225px;
        height: 200px;
        max-height: 200px;
        margin-bottom: 10px;
      }

      &-LabelWrapper {
        display: flex;
        display: -webkit-flex;

        & input {
          display: none;
        }

        &-Default {
          @include buttonStyle(var(--black), var(--white));
        }

        &-Change {
          @include buttonStyle(var(--primary), var(--white));
          margin-left: 4px;
        }
      }
    }

    &-Bottom {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -ms-flex-direction: column;
      justify-content: center;

      & > * {
        margin-bottom: 10px;
        font-size: $font_22;
      }
    }
  }
}
