@import '../styles/Palette/Palette.scss';

@font-face {
	font-family: 'NanumSquare';
	src: url('/assets/fonts/NanumSquare_Round/NanumSquareRoundOTFB.otf')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'NanumSquare';
}

html,
body {
	width: 100%;
	height: 100%;
	background-color: $white;
}

body {
	line-height: 1.34;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

td {
	vertical-align: middle;
}
