.RowCategoryItem {
  border: 2px solid var(--primary);
  border-radius: 25px;
  padding: 5px 10px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;

  &-Current {
    background-color: var(--primary);
    color: var(--white);
  }

  &-Count {
    color: var(--gray);
    margin-left: 3px;
  }

  &-Icon {
    display: flex;
    display: -webkit-flex;
    align-items: center;

    & > * {
      cursor: pointer;
      -webkit-transition: 0.2s ease-out;
      transition: 0.2s ease-out;
      margin-right: 5px;
    }

    &-Modify:hover {
      color: var(--primary);
    }

    &-Delete:hover {
      color: var(--red);
    }
  }
}
