@import '../../../../styles/Fonts/FontScheme.scss';

.CategoryItem {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $font_1rem;

  &-Left {
    display: flex;
    display: -webkit-flex;
    align-items: center;

    &-Text {
      margin-right: 3px;
      transition: all 0.25s ease;

      &:hover {
        cursor: pointer;
        color: var(--primary);
      }

      &-Current {
        color: var(--primary);
      }
    }

    &-Count {
      color: var(--gray);
    }
  }
}
