@import '../../../styles/Palette/Palette.scss';
@import '../../../styles/Fonts/FontScheme.scss';

.NoticeList {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 10px;
	border: none;
	border-bottom: 2px solid rgba($rgbaPrimary, 0.6);
	padding-bottom: 4px;

	&-CountWrapper {
		display: flex;
		display: -webkit-flex;
		margin-right: 5px;
	}

	&-Contents {
		display: flex;
		display: -webkit-flex;
		align-items: center;

		&-Tag {
			background-color: rgba($rgbaPrimary, 0.8);
			color: $white;
			border-radius: 25px;
			padding: 7px 10px;
			margin-right: 5px;
		}
	}

	&-Button {
		&-WriteButton {
			width: 200px;
			border: none;
			outline: none;
			color: $white;
			font-size: $font_20;
			background-color: $primary;
			padding: 10px 0;
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 512px) {
	.NoticeList {
		min-width: 560px;
	}
}
