$font_10: 10px;
$font_12: 12px;
$font_14: 14px;
$font_16: 16px;
$font_18: 18px;
$font_20: 20px;
$font_22: 22px;
$font_25: 25px;
$font_30: 30px;

$font_1rem: 1rem;
$font_2rem: 2rem;
$font_3rem: 3rem;
$font_4rem: 4rem;
