@import '../../../../styles/Palette/Palette.scss';
@import '../../../../styles/Fonts/FontScheme.scss';

@mixin optionStyle($color) {
	color: $color;
	font-weight: 200;
	margin-right: 5px;
	cursor: pointer;
	z-index: 3;

	&:hover {
		opacity: 0.7;
	}
}

.HomePost {
	&-Item {
		position: relative;
		min-width: 330px;
		max-width: 330px;
		min-height: 380px;
		max-height: 380px;
		margin: 15px;
		box-shadow: 5px 5px 10px $gray, -5px -5px 10px $lighterGray;

		& > * {
			word-break: break-all;
			text-overflow: ellipsis;
		}

		&-Introduction {
			margin-bottom: $font_1rem;
		}

		&-Thumbnail {
			min-width: 330px;
			max-width: 330px;
			min-height: 180px;
			max-height: 180px;
			cursor: pointer;
			object-fit: fill;
			margin: auto;
		}

		&-Contents {
			display: flex;
			display: -webkit-flex;
			flex-direction: column;
			justify-content: space-around;
			padding: 0 5px 5px 10px;
			height: calc(340px - 180px);
			cursor: pointer;

			&-Title {
				border-bottom: 2px solid $lighterGray;
				padding-bottom: 5px;
				margin-bottom: 5px;
				text-overflow: ellipsis;
			}

			&-Category {
				color: $primary;
			}

			&-TimeWrapper {
				display: flex;
				display: -webkit-flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid $primary;
				padding-bottom: 5px;

				&-Time {
					font-size: $font_14;
					font-weight: 200;
					color: $primary;
				}
			}
		}

		&-Bottom {
			display: flex;
			display: -webkit-flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 5px 5px 10px;
			margin-top: 2px;

			&-Option {
				display: flex;
				display: -webkit-flex;
				align-items: center;

				&-Modify {
					@include optionStyle($gray);
				}

				&-Remove {
					@include optionStyle($red);
				}
			}

			&-RightWrapper {
				display: flex;
				display: -webkit-flex;
				align-items: center;
				height: 100%;

				&-ViewCount {
					display: flex;
					display: -webkit-flex;
					align-items: center;
					margin-right: 5px;
				}

				&-CommentLength {
					display: flex;
					display: -webkit-flex;
					align-items: center;
					margin-right: 5px;

					& > div {
						margin-left: 3px;
					}
				}

				&-Writer {
					color: $primary;
				}
			}
		}
	}
}
