.EmailAuth {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;

  &-Top {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    margin: 10px 0;

    &-Title {
      font-size: 2rem;
      margin-bottom: 5px;
    }

    &-SubTitle {
      color: var(--gray);
    }
  }

  &-Form {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
  }
}
