@import '../../../../styles/Palette/Palette.scss';
@import '../../../../styles/Fonts/FontScheme.scss';

.NoticeItem {
	&-Contents {
		display: flex;
		display: -webkit-flex;
		align-items: center;

		&-Title {
			cursor: pointer;
		}
	}
}
