@import '../../../styles/Fonts/FontScheme.scss';

@mixin buttonStyle($background) {
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: $background;
  color: var(--white);
  cursor: pointer;
  padding: 10px 20px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.ReleaseWriteForm {
  max-width: 1200px;
  margin: 1rem auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;

  &-Top {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
  }

  &-Button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;

    &-Save {
      @include buttonStyle(var(--lighterGreen));
    }

    &-Write {
      @include buttonStyle(var(--primary));
    }
  }
}
