@import '../../../styles/Palette/Palette.scss';
@import '../../../styles/Fonts/FontScheme.scss';

.HomePost {
	max-width: 1200px;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	flex: 1;
}
