@import '../../../styles/Palette/Palette.scss';
@import '../../../styles/Fonts/FontScheme.scss';

.NoticeView {
	max-width: 1024px;
	margin: 2rem auto;

	&-Contents {
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		-ms-flex-direction: column;

		& * {
			white-space: pre-wrap;
		}

		&-Info {
			display: flex;
			display: -webkit-flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 10px;
			font-size: $font_18;
			padding-bottom: 5px;
			margin-bottom: 5px;
			border-bottom: 2px solid rgba($rgbaPrimary, 0.5);

			&-Personal {
				display: flex;
				display: -webkit-flex;
				align-items: center;

				& > div:first-child {
					margin-right: 5px;
				}

				&-Writer {
					color: $primary;
					font-size: $font_18;
				}
			}

			&-Option {
				display: flex;
				display: -webkit-flex;
				align-items: center;

				& > * {
					cursor: pointer;
				}

				&-Modify {
					margin-right: 5px;
					color: $gray;
				}

				&-Delete {
					color: $red;
				}
			}
		}

		&-Title {
			text-align: center;
			font-size: $font_2rem;
		}
	}
}
