.Thumbnail {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin-bottom: 10px;

  & input[type='file'] {
    display: none;
  }

  &-Button {
    width: 120px;
    padding: 10px 0;
    text-align: center;
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 5px;
    margin-right: 5px;
    transition: all 0.1s ease-in;
    cursor: pointer;

    &:hover {
      background-color: var(--primary);
      color: var(--white);
    }
  }

  &-FileName {
    max-width: 350px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    color: var(--gray);
    padding: 10px;
    text-align: center;
  }
}
