@import '../../../../styles/Palette/Palette.scss';
@import '../../../../styles/Fonts/FontScheme.scss';

.NavBar {
	width: 100%;
	min-height: 70px;
	background-color: $primary;
	box-shadow: $lighterGray 0 2px 5px 0;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	&-Contents {
		width: 100%;
		max-width: 1400px;
		margin: auto;
		padding: 0 3rem;
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		&-Logo {
			width: 150px;
			cursor: pointer;
		}

		&-SearchWrapper {
			width: 250px;
			max-width: 250px;
			display: flex;
			display: -webkit-flex;
			align-items: center;
			border: none;
			outline: none;
			border-bottom: 2px solid $lighterGray;
			color: $white;
		}

		&-Right {
			display: flex;
			display: -webkit-flex;
			align-items: center;

			& > * {
				cursor: pointer;
			}

			&-LogText {
				font-size: $font_20;
				color: $white;
				margin-top: 5px;
			}

			& > img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				margin-left: 1rem;
			}
		}
	}
}

@media screen and (max-width: 612px) {
	.NavBar-Contents {
		flex-direction: column;
	}
}
