@import '../../../styles/Palette/Palette.scss';

.Footer {
	width: 100%;
	height: 70px;
	background-color: $lighterGray;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 700px) {
	.Footer {
		min-width: 700px;
	}
}
